.review-all {
    background: white;
}

.review-all .row {}

#loadMore {
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}

.review-content {
    margin-bottom: 30px;
    display: none;
}

.content-in {
    height: 550px;
    border-radius: 30px;
    background-color: white;
    padding: 35px;
    box-shadow: rgb(0 0 0 / 10%) 0px 15px 40px 12px;
}

.number {
    font-size: 4em;
    font-weight: 600;
}

.header-course {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 65px;
}

.header {
    border-bottom: 1px solid;
    font-weight: 600;
    width: max-content;
    margin-bottom: 10px;
}

.content {
    font-size: 16px;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


/* 
.content span {
    font-size: 4em;
    font-weight: 200;
    position: absolute;
    top: -25px;
    font-family: 'Rubik';
    left: 0px;
}

.content span:last-child {
    top: unset;
    bottom: -40px;
    right: 40px;
    left: unset;
} */

.name {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid;
    width: max-content;
}